<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickStart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickStart.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>geosoftware</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>geosoftware</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>QuickStart</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CategoryID" serializeAs="String">
                <value>0</value>
            </setting>
        </QuickStart.Properties.Settings>
    </userSettings>
</configuration>